.error-dialog {
  display: flex;
  flex-direction: column;

  .title {
    font-weight: bold;
  }

  .message {
    padding: 1.5rem 0;
  }

  .actions {
    text-align: right;
    border-top: 1px solid blue;
    padding-top: 1rem;
  }
}
