<div class="login-page">
  <mat-card class="login-form">
    <mat-card-title>
      {{"app.form.login.title" | translate}}
    </mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit($event)" [formGroup]="loginForm">
        <mat-form-field>
          <mat-label>{{"app.form.login.username" | translate}}</mat-label>
          <input matInput placeholder="{{'app.form.login.username' | translate}}" formControlName="username">
          <mat-error *ngIf="loginForm.get('username').hasError('required')">
            {{"app.form.login.error.username.required" | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{"app.form.login.password" | translate}}</mat-label>
          <input matInput type="password" placeholder="{{'app.form.login.password' | translate}}" formControlName="password">
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            {{"app.form.login.error.username.required" | translate}}
          </mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit"
                [disabled]="!loginForm.valid">{{"app.form.login.sign-in" | translate}}</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
