<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">
  <mat-toolbar class="main-toolbar">
    <mat-toolbar-row>
      <span>Clickyman</span>
      <button mat-button (click)="sidenav.toggle()" *ngIf="isLoggedIn()">
        <mat-icon>list</mat-icon>
      </button>
      <div class="tools">
        <mat-icon>notification_none</mat-icon>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="clickyman" [hasBackdrop]="false">
    <mat-sidenav mode="side" [(opened)]="opened" class="main-navigation" *ngIf="isLoggedIn()">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node class="menu-item {{(!node.level || node.level === 0) && 'menu-root-item'}}" [routerLinkActiveOptions]="{exact: true}"
                       [routerLink]="node.url" routerLinkActive="active" *matTreeNodeDef="let node" matTreeNodePadding matTreeNodeToggle>
          {{node.name}}
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node class="menu-item {{(!node.level || node.level === 0) && 'menu-root-item'}}" [routerLinkActiveOptions]="{exact: true}"
                       [routerLink]="node.url" routerLinkActive="active" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle>
          {{node.name}}
          <mat-icon class="menu-dropdown-icon">
            {{treeControl.isExpanded(node) ? "expand_more" : "chevron_right"}}
          </mat-icon>
        </mat-tree-node>
      </mat-tree>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<app-loader></app-loader>
